@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

@import url("global/main.css");
@import url("global/header.css");
@import url("global/footer.css");
@import url("pages/home/hero.css");
@import url("pages/home/about.css");
@import url("pages/home/services.css");
@import url("pages/home/gallery.css");
@import url("pages/home/tarif.css");
@import url("pages/about/intro.css");
@import url("pages/about/banner.css");
@import url("pages/about/question.css");
@import url("pages/services/tarif.css");
@import url("pages/services/banner.css");
@import url("pages/services/hero.css");
@import url("pages/gallery/gallery.css");
@import url("pages/contact/contact.css");
@import url("pages/appointment/appointment.css");


:root {
    --main-color: #29645C;
    --second-color: #7BAE7F;
    --background: #ecfeee;
    --white: #ffffff;
    --black: #000000;
    --parag-color: #5f5f5f;
}
