@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

@import url("global/main.css");
@import url("global/header.css");
@import url("pages/home/hero.css");
@import url("pages/home/about.css");
@import url("pages/home/services.css");

:root {
    --main-color: #29645C;
    --second-color: #7BAE7F;
    --background: #ECFEEE;
    --white: #ffffff;
    --black: #000000;
    --parag-color: #5f5f5f;
}
