.gallery__images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.gallery__images__single img {
  width: 100%;
  height: 100%;
}

.more_gallery {
  padding: 10px 20px;
  background-color: var(--main-color);
  border-radius: 30px;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--white);
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
  transition: 0.3s ease-in-out;
}

.more_gallery:hover {
  background-color: var(--second-color);
}

.gallery__images__single {
  position: relative;
}

.gallery__images__single .view_icon {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000096;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scaleY(0);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.gallery__images__single .view_icon i {
  font-size: 18px;
  color: var(--white);
}

.gallery__images__single:hover .view_icon {
  transform: scaleY(1);
}

.gallery_sec__modal_img {
  display: none;
  transition: 0.3s ease-in-out;
}

.gallery_sec__modal_img.active {
  display: flex;
}

.gallery_sec__modal_img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  flex-direction: column;
  gap: 5px;
  align-items: flex-end;
  z-index: 100;
}

.gallery_sec__modal_img img {
  width: 100%;
}

.gallery_sec__modal_img i{
    font-size: 20px;
    color: var(--white);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.gallery_sec__modal_img i:hover{
    color: var(--second-color);
    transform: rotate(90deg);
}


@media (max-width:950px) {
  .gallery__images{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .gallery__images__single:nth-child(n+7) {
    display: none;
  }
  .more_gallery{
    font-size: 15px;
  }
  .gallery_sec__modal_img{
    width: 60%;
  }
}

@media (max-width:550px) {
  .gallery__images{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .gallery__images__single:nth-child(n+5) {
    display: none;
  }
  .more_gallery{
    font-size: 14px;
  }
  .gallery_sec__modal_img{
    width: 80%;
  }
}

@media (max-width:350px) {
  .more_gallery{
    font-size: 13px;
  }
}