.services_sec {
  background-color: var(--background);
}

.sevices_sec__our_services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.sevices_sec__our_services__single {
  padding: 20px;
  background-color: var(--white);
  border: 1px solid var(--main-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  transition: 0.3s ease-in-out;
}

.sevices_sec__our_services__single:hover {
  transform: scale(1.03);
}

.sevices_sec__our_services__single img {
  width: 80px;
}

.sevices_sec__our_services__single h3 {
  font-size: 18px;
}

.sevices_sec__our_services__single h3::first-letter {
  text-transform: capitalize;
}

.sevices_sec__our_services__single p {
  font-size: 14px;
}

.sevices_sec__our_services__single a {
  display: flex;
  gap: 3px;
  align-items: center;
  color: var(--main-color);
  transition: 0.3s ease-in-out;
}

.sevices_sec__our_services__single a i {
  font-size: 13px;
}

.sevices_sec__our_services__single a span {
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
}

.sevices_sec__our_services__single a:hover {
  color: var(--second-color);
}

.sevices_sec__our_services__single a:hover span {
  text-decoration: underline;
}


@media (max-width:950px) {
  .sevices_sec__our_services__single img{
    width: 60px;
  }
  .sevices_sec__our_services__single h3{
    font-size: 16px;
  }
  .sevices_sec__our_services__single a i,
  .sevices_sec__our_services__single p{
    font-size: 12px;
  }
  .sevices_sec__our_services__single a span{
    font-size: 13px;
  }
}

@media (max-width:750px) {
  .sevices_sec__our_services{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width:550px) {
  .sevices_sec__our_services__single img{
    width: 50px;
  }
  .sevices_sec__our_services__single h3{
    font-size: 14px;
  }
  .sevices_sec__our_services__single a i,
  .sevices_sec__our_services__single p{
    font-size: 10px;
  }
  .sevices_sec__our_services__single a span{
    font-size: 11px;
  }
}

@media (max-width:450px) {
  .sevices_sec__our_services{
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
}