header {
  padding: 20px 0;
  background-color: transparent;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  gap: 5px;
  align-items: center;
}

.header__logo span {
  padding: 0 5px;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.header__logo span img {
  width: 30px;
}

.header__logo h1 {
  font-size: 25px;
  text-transform: capitalize;
  font-style: italic;
  color: var(--white);
}

.header__open_menu {
  display: none;
}

.header__menu {
  display: flex;
  gap: 20px;
}

.header__menu li {
  padding: 5px 0;
  font-size: 16px;
  color: var(--white);
  position: relative;
  transition: 0.3s ease-in-out;
}

.header__menu li::first-letter {
  text-transform: capitalize;
}

.header__menu li.active::after,
.header__menu li::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 3px;
  border-radius: 5px;
  background-color: var(--main-color);
  transition: 0.3s ease-in-out;
}

.header__menu li.active,
.header__menu li:hover{
    color: var(--main-color);
}

.header__menu li.active::after,
.header__menu li:hover::after{
    width: 100%;
}

.header__social_link{
  display: flex;
  gap: 10px;
}

.header__social_link li{
  width: 30px;
  height: 30px;
  background-color: transparent;
  color: var(--white);
  border: 1px solid #ffffff9a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.header__social_link li i{
  font-size: 14px;
}

.header__social_link li:hover{
  background-color: var(--main-color);
  border-color: var(--main-color);
  transform: scale(0.95);
}